<!-- Should find custom validation here: https://github.com/Daumis102/AngularCourse/blob/0863d582280d8dfc0ea03eb4df28153ca48dbe62/hello-world/src/app/signup-form/signup-form.component.html -->

<form [formGroup]="loanForm" (ngSubmit)="submit()">

    <div class="form-group">
        <label for="monthlyIncome">Monthly Income</label>
        <input formControlName="monthlyIncome" loanNumber loanCurrency id="monthlyIncome" type="text" class="form-control">

        <div *ngIf="monthlyIncome?.touched && monthlyIncome?.invalid" class="alert alert-danger">
            <div *ngIf="monthlyIncome?.errors?.required">Please specify the monthly income.</div>
            <div *ngIf="monthlyIncome?.errors?.min">Monthly income is too small. Minimum monthly income should be {{ monthlyIncome?.errors?.min.min  | formatedCurrency}}.</div>
            <div *ngIf="monthlyIncome?.errors?.pattern">Can only contain digits and the following symbols: "," "."</div>
            <div *ngIf="monthlyIncome?.errors?.serverError">{{ monthlyIncome?.errors?.serverError.message }}</div>
        </div>
    </div>

    <div class="form-group">
        <label for="requestedAmount">Amount</label>
        <input formControlName="requestedAmount" loanNumber loanCurrency id="requestedAmount" type="text" class="form-control">
        <div *ngIf="requestedAmount?.touched && requestedAmount?.invalid" class="alert alert-danger">
            <div *ngIf="requestedAmount?.errors?.required">Please specify the loan amount.</div>
            <div *ngIf="requestedAmount?.errors?.min">Amount is too small. Minimum loan amount is {{ requestedAmount?.errors?.min.min | formatedCurrency}}.</div>
            <div *ngIf="requestedAmount?.errors?.pattern">Can only contain digits and the following symbols: "," "."</div>
            <div *ngIf="requestedAmount?.errors?.serverError">{{ requestedAmount?.errors?.serverError.message }}</div>
        </div>
    </div>

    <div class="form-group">
        <label for="loanTerm">Term</label>
        <input formControlName="loanTerm" loanNumber id="loanTerm" type="text" class="form-control">
        <div *ngIf="loanTerm?.touched && loanTerm?.invalid" class="alert alert-danger">
            <div *ngIf="loanTerm?.errors?.required">Please specify the loan term.</div>
            <div *ngIf="loanTerm?.errors?.min">Term is too short. Minimum term is {{ loanTerm?.errors?.min.min }} months.</div>
            <div *ngIf="loanTerm?.errors?.max">Term is too long. Maximum term is {{ loanTerm?.errors?.max.max }} months.</div>
            <div *ngIf="loanTerm?.errors?.isNumber">Can only contain digits and the following symbols: "," "."</div>
            <div *ngIf="loanTerm?.errors?.serverError">{{ loanTerm?.errors?.serverError.message }}</div>
        </div>
    </div>

    <div class="form-group">
        <label for="children">Number of children</label>
        <select formControlName="children" name="children" id="children" class="form-control">
            <option *ngFor="let option of childrenOptions | keyvalue" [value]="option.key">{{ option.value }}</option>
        </select>
        <div *ngIf="children?.touched && children?.invalid" class="alert alert-danger">
            <div *ngIf="children?.errors?.mustBeSelected">Please Specify the number of children</div>
            <div *ngIf="children?.errors?.serverError">{{ children?.errors?.serverError.message }}</div>
        </div>
    </div>

    <div class="form-group">
        <label for="coapplicant">Coapplicant</label>
        <select formControlName="coapplicant" name="coapplicant" id="coaplicant" class="form-control">
            <option *ngFor="let option of coapplicantOptions | keyvalue" [value]="option.key">{{ option.value }}</option>
        </select>
        <div *ngIf="coapplicant?.touched && coapplicant?.invalid" class="alert alert-danger">
            <div *ngIf="coapplicant?.errors?.mustBeSelected">Please specify the number of Coapplicants</div>
            <div *ngIf="coapplicant?.errors?.serverError">{{ coapplicant?.errors?.serverError.message }}</div>
        </div>
    </div>

    <p>
        {{ loanForm.value | json }}
    </p>
    

    <button [disabled]="loanForm?.invalid" id="btnSubmit" class="btn btn-primary" type="submit">Submit</button>
    <!-- <button class="btn btn-primary" type="submit">Submit</button> -->
</form>